*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image:url('bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.m-h{
    color:blue;
    text-align: center;
    margin:15px 0;
}
.m-p{
    color: #3498db;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}
div{
    text-align: center;
}
form{
    border: 2px solid #bdc3c7;
    text-align: center;
    width: 250px;
   margin: auto;
   border-radius: 5px;
}
.f-s{
   display: block;
   width: 85%;
   
   text-align: center;
   padding: 8px 20px;
   margin:3px auto;
   background-color: blue;
   color: #fff;
   border: 0;
}
input{
    
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    border:0;
}
.f-i{
    margin-top: 15px;
    margin-bottom: 10px;
}
.s-i{
    margin-bottom: 10px;
}
.f-p{
    display: block;
    color:#2980b9;
    margin: 10px 0;
}
hr{
    border:1.3px solid #bdc3c7;
    margin:18px auto 25px auto ;
    width: 85%;
    
}
.f-c{
    display: block;
    padding: 12px 20px;
    margin: 0 auto 24px auto;
    background: #27ae60;
    border: 0;
    color: #fff;
    border-radius: 5px;
}